<main class="main-content">
    <div class="book-detail">
        <div class="container">
            <div class="single-boook-detail">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="product-thumnbnail">
                            <ul class="product-slider">
                                <li class="text-left"> <img width="100%"
                                        src="../../assets/image/Ubuntu_Unleashed_2008_Edition__7_8_2014_8_20_03_PM.jpg"
                                        alt="Ubuntu Unleashed 2008 Edition: Covering 8.04 and 8.10 (4th Edition)"
                                        class="lazyloaded" data-was-processed="true">
                                    <noscript><img width="100%"
                                            src="../../assets/image/Ubuntu_Unleashed_2008_Edition__7_8_2014_8_20_03_PM.jpg"
                                            alt="Ubuntu Unleashed 2008 Edition: Covering 8.04 and 8.10 (4th Edition)">
                                    </noscript>
                                </li>
                                <li>
                                    <div class="sharedaddy sd-sharing-enabled">
                                        <div class="robots-nocontent sd-block sd-social sd-social-icon sd-sharing">
                                            <h3 class="sd-title">Share this:</h3>
                                            <div class="sd-content">


                                                <ul>
                                                    <li class="share- facebook">
                                                        <i class="fa fa-facebook-square" aria-hidden="true"
                                                            style="color: blue; font-size: 25px"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-twitter-square" aria-hidden="true"
                                                            style="color: aqua;font-size: 25px"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-skype" aria-hidden="true"
                                                            style="color: aqua;font-size: 25px"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-get-pocket" aria-hidden="true"
                                                            style="color:red;font-size: 25px"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-reddit" aria-hidden="true"
                                                            style="color: #77ade6;font-size: 25px"></i>
                                                    </li>
                                                    <li class="share-end"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div id="yasr_visitor_votes_14108" class="yasr-visitor-votes">
                                        <div id="yasr-visitor-votes-rater-0ad752b5a3d1e"
                                            class="yasr-rater-stars-visitor-votes star-rating" data-rater-postid="14108"
                                            data-rating="0" data-rater-starsize="24" data-rater-readonly="false"
                                            data-rater-nonce="86feb2db6f" data-issingular="true"
                                            style="width: 120px; height: 24px; background-size: 24px;">
                                            <div class="star-value" style="background-size: 24px; width: 0%;"></div>
                                        </div><span id="yasr-visitor-votes-container-after-stars-0ad752b5a3d1e"
                                            class="yasr-visitor-votes-after-stars-class"><span
                                                class="yasr-total-average-container" id="yasr-total-average-text_14108">
                                                [Total: 0 &nbsp; &nbsp;Average: 0/5] </span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="single-product-detail">
                            <h1>Ubuntu Unleashed 2008 Edition: Covering 8.04 and 8.10 (4th Edition)</h1>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="btn-list">
                                        <li class="">
                                            <div class="btn-group"> <button type="button"
                                                    class="btn dropdown-toggle btn-1 sm shadow-0" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="fa fa-file-pdf-o" aria-hidden="true"></i> Download <span
                                                        class="caret"></span> </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="https://oko.sh/kRFcMDdW" target="_blank"><i
                                                                class="fa fa-hdd-o" aria-hidden="true"></i> Primary
                                                            download link</a></li>
                                                    <li><a href="#notavaiable" target="_blank"><i class="fa fa-server"
                                                                aria-hidden="true"></i> Secondary download link</a></li>
                                                    <li><a href="https://oko.sh/3t5njgE" target="_blank"><i
                                                                class="fa fa-file-archive-o" aria-hidden="true"></i>
                                                            Tertiary download link</a></li>
                                                    <li><a href="https://libit.io/how-to-download.html"
                                                            target="_blank"><i class="fa fa-question-circle"
                                                                aria-hidden="true"></i> How to download eBooks?</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a target="_blank" class="btn-1 sm shadow-0 blank"
                                                href="https://www.amazon.com/s/?url=search-alias%3Dstripbooks&amp;field-keywords=Ubuntu+Unleashed+2008+Edition%3A+Covering+8.04+and+8.10+%284th+Edition%29&amp;ref_=nav_ya_signin&amp;"><i
                                                    class="fa fa-amazon"></i> Buy on Amazon</a></li>
                                        <li><a target="_blank" class="btn-1 sm shadow-0 blank"
                                                href="http://affiliates.abebooks.com/c/15111/77798/2029?u=https%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26kn%3DUbuntu+Unleashed+2008+Edition%3A+Covering+8.04+and+8.10+%284th+Edition%29%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17"><i
                                                    class="fa fa-file-image-o"></i> Buy on AbeBooks</a></li>
                                        <li><a target="_blank" class="btn-1 sm shadow-0 blank"
                                                href="https://www.goodreads.com/search?utf8=%E2%9C%93&amp;query=Ubuntu+Unleashed+2008+Edition%3A+Covering+8.04+and+8.10+%284th+Edition%29"><i
                                                    class="fa fa-file-pdf-o"></i> Find on Goodreads</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-12 text-justify">
                                            <div class="sec-heading">
                                                <h3>Book intro:</h3>
                                            </div>
                                            <p>Ubuntu Unleashed 2008 Edition presents comprehensive coverage of the
                                                popular Ubuntu Linux distribution. Windows users, Mac users, and Linux
                                                enthusiasts have been increasingly turning to Ubuntu for a
                                                user-friendly, easy-to-use Linux distribution. This book provides
                                                detailed information on installing, using, and administering Ubuntu. You
                                                will learn how to set up a workstation or a server, and you will find
                                                complete details on Ubuntus easy-to-use desktop and productivity
                                                software.Ubuntu Unleashed 2008 Edition includes a range of coverage:
                                                From the software you need in your everyday work, such as the
                                                OpenOffice.org productivity suite, to how to configure your Linux
                                                desktop to run smoothly using multiple printers, shell scripts, and
                                                more. For the hardcore Linux enthusiast, there is complete coverage of
                                                the X Window system, Linux programming, web server administration, and
                                                network administration.Includes a DVD with a full Ubuntu Linux
                                                distribution, plus a free upgrade to Ubuntu Linux 8.10 once it is
                                                released</p>
                                        </div>
                                        <div class="col-sm-12"> <iframe
                                                src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Flibit.io%2Fbook%2Fubuntu-unleashed-2008-edition-covering-8-04-and-8-10-4th-edition.html&amp;width=450&amp;layout=standard&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=1364019953729266"
                                                width="100%" height="60" style="border:none;overflow:hidden"
                                                scrolling="no" frameborder="0" allowtransparency="true"
                                                data-rocket-lazyload="fitvidscompatible"
                                                data-lazy-src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Flibit.io%2Fbook%2Fubuntu-unleashed-2008-edition-covering-8-04-and-8-10-4th-edition.html&amp;width=450&amp;layout=standard&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=1364019953729266"
                                                class="lazyloaded" data-was-processed="true"></iframe><noscript><iframe
                                                    src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Flibit.io%2Fbook%2Fubuntu-unleashed-2008-edition-covering-8-04-and-8-10-4th-edition.html&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1364019953729266"
                                                    width="100%" height="60" style="border:none;overflow:hidden"
                                                    scrolling="no" frameborder="0"
                                                    allowTransparency="true"></iframe></noscript></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="book-info-list">
                                        <h6>eBook Details</h6>
                                        <!-- <ul>
                                            <li><span>Author: </span><a href="#"
                                                    title="Andrew Hudson">Andrew Hudson</a></li>
                                            <li><span>Publisher: </span><a
                                                    href="https://libit.io/publisher/sams-publishing"
                                                    title="SAMS Publishing">SAMS Publishing</a></li>
                                            <li><span>ISBN: </span>9780672329937</li>
                                            <li><span>Format: </span>pdf</li>
                                            <li><span>Size: </span>15 Mb</li>
                                            <li><span>Language: </span>English</li>
                                            <li><span>Pages: </span>864</li>
                                            <li><span>Published: </span>2008</li>
                                            <li><span>View: </span>37</li>
                                        </ul> -->
                                        <ul *ngFor="let info of detail">
                                            <li><span>{{info.name}}</span>  {{info.value}}</li>
                                        </ul>
                                    </div>
                                    <div class="single-book-same">
                                        <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
                                            type="text/javascript"></script>
                                        <!-- <ins class="adsbygoogle" style="display: block; text-align: center; height: 219px;"
                                            data-ad-layout="in-article" data-ad-format="fluid"
                                            data-ad-client="ca-pub-4793546486118719" data-ad-slot="7622487349"
                                            data-adsbygoogle-status="done"> -->
                                        <!-- <ins id="aswift_0_expand"
                                                style="display:inline-table;border:none;height:219px;margin:0;padding:0;position:relative;visibility:visible;width:262px;background-color:transparent;">
                                                <ins id="aswift_0_anchor"
                                                    style="display:block;border:none;height:219px;margin:0;padding:0;position:relative;visibility:visible;width:262px;background-color:transparent;">
                                                    <iframe width="262" height="219" frameborder="0" marginwidth="0"
                                                        marginheight="0" vspace="0" hspace="0" allowtransparency="true"
                                                        scrolling="no" allowfullscreen="true"
                                                        onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                                                        id="aswift_0" name="aswift_0"
                                                        style="left:0;position:absolute;top:0;border:0px;width:262px;height:219px;"></iframe></ins></ins></ins> -->
                                        <script type="text/javascript">(adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                    <div class="single-book-tags">
                                        <h6>eBook Tags:</h6>
                                        <ul class="single-book-tag" >
                                            <li *ngFor="let i of bookTag"> #<a rel="tag" href="#">{{i}}</a></li>
                                            <!-- <li>#<a href="https://libit.io/tag/desktop" rel="tag">desktop</a></li>
                                            <li>#<a href="https://libit.io/tag/format" rel="tag">format</a></li>
                                            <li>#<a href="https://libit.io/tag/install" rel="tag">install</a></li>
                                            <li>#<a href="https://libit.io/tag/linux" rel="tag">linux</a></li>
                                            <li>#<a href="https://libit.io/tag/mac" rel="tag">mac</a></li>
                                            <li>#<a href="https://libit.io/tag/office" rel="tag">office</a></li>
                                            <li>#<a href="https://libit.io/tag/openoffice-org"
                                                    rel="tag">openoffice.org</a></li>
                                            <li>#<a href="https://libit.io/tag/program" rel="tag">program</a></li>
                                            <li>#<a href="https://libit.io/tag/scripts" rel="tag">scripts</a></li>
                                            <li>#<a href="https://libit.io/tag/server" rel="tag">server</a></li>
                                            <li>#<a href="https://libit.io/tag/software" rel="tag">software</a></li>
                                            <li>#<a href="https://libit.io/tag/upgrade" rel="tag">upgrade</a></li>
                                            <li>#<a href="https://libit.io/tag/ux" rel="tag">ux</a></li>
                                            <li>#<a href="https://libit.io/tag/windows" rel="tag">windows</a></li>
                                            <li>#<a href="https://libit.io/tag/workstation" rel="tag">workstation</a>
                                            </li> -->
                                            <li class="clearfix"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="commentFacebook">
                                        <div id="fb-root" class=" fb_reset">
                                            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                                                <div></div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">(function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s); js.id = id;
                                                js.src = "https://libit.io/wp-content/cache/busting/facebook-tracking/fbsdk-en_US.js#xfbml=1&version=v2.10&appId=361562164288420";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));</script>
                                        <div class="fb-comments"
                                            data-href="https://libit.io/book/ubuntu-unleashed-2008-edition-covering-8-04-and-8-10-4th-edition.html"
                                            data-numposts="10" data-order-by="reverse_time" width="100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>