<html>
   <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   </head>
   <body>
      <form action = "/info" method = "GET" style="padding-left: 20%"> 
      <table> 
             <tr>
                 <td height="20px"></td>
             </tr>
             <tr>
                 <td>
                     <label><b>Họ và tên (*)</b></label>  
                 </td>
                 <td>
                     <input type="text" maxlength="80" placeholder="Họ và tên" name = "first_name"> 
                 </td>
             </tr>
             <tr>
                 <td>
                     <label><b>Số điện thoại (*)</b></label> 
                 </td>
                 <td>
                     <input type="text" maxlength="15"  name = "phone"/>
                 </td>
             </tr>
              <tr>
               <td></td> <td>         <button type="submit" style="position: absolute; margin-left:5%"> Submit</button></td>
         </tr>
         </table>

      </form>
   </body>
</html>