<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- <link rel="stylesheet" href="public/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1{
            color: red;
            text-align: center
        }
        li{
            display: inline;
            font-size: 35px;

        }
        i{
            margin-right: 10px;
            font-size: 35px;
        }
        a{
            font-size: 28px;
        }
    </style>
</head>

<body >
    <div>
        <h1> Welcome to my API with ExpessJs</h1>
    </div>
    <div class="container" style="position: absolute; left:40%">
         <ul>
            <li> <i class="fa fa-info-circle" aria-hidden="true"></i>

                <a href="/get"> INFO</a></li><br><br>


            <li><i class="fa fa-upload" aria-hidden="true"></i><a href="/upload"> UPLOAD</a></li><br>

        </ul>
    </div>

</body>

</html>